<launch>
    <node pkg="rosbag" type="play" name="player" output="screen" args="-l /home/ranger/src/droneMRI/src/my_robot_startup/test/data/left_side_short.bag"/>
    <node name="left_side_sync_node" pkg="my_robot_sync" type="left_side_sync_node" />
    <test test-name="my_robot_sync" pkg="my_robot_startup" type="my_robot_sync_unittest.py"/>
</launch>
